/*------------------
 Font Family
   {
 font-family:'Pacifico', cursive;
 }
 -------------------*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  /* height: 90%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.banner {
  /* display: flex;  */
  background-color: black;
  color: azure;

  /* font-size: 50px;
    font-weight: 200; */
  border-radius: 30px;
  width: 85%;
  padding-left: 2rem;
  /* height: 90%; */
}

.banner-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side {
  margin-left: 70px;
}

.left-side > h1 {
  font-family: "Kanit", sans-serif;

  font-weight: 900;
  font-size: 55px;
}

img {
  height: 700px;
  margin-top: 20px;
}

button {
  border: none;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-size: 25px;
  font-weight: 700;
  width: 9rem;
  height: 2rem;
}

/*------------------
 main section style 
 ------------------- */
.main {
}
.container {
  display: flex;
  margin: 0 110px;
  gap: 2rem;
}
.button-container {
  margin: 80px 0px;
  padding-top: 30px;
  border-radius: 15px;

  width: 24%;
  height: 200px;
  row-gap: 18px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container > :nth-of-type(1) {
  background-color: azure;
  color: gray;
  padding: 5px;
}
.button-container > :nth-of-type(2) {
  background-color: azure;
  color: gray;
}
.card-container {
  display: grid;
  margin: 80px 0px;
  /* background-color: aquamarine; */
  grid-template-columns: repeat(3, 3fr);
  gap: 20px;
  align-items: center;
}
article {
  background-color: #eee5e9;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
article > img {
  width: 100%;
  height: 13rem;
  border-radius: 15px 15px 0 0;
  border-top: 0;
  margin-top: 0;
}
.card-content {
  padding: 20px;
}

.card-button {
  background-color: transparent;
  border: 3px solid rgb(94, 92, 92);
  color: rgb(94, 92, 92);
}
.card-icon {
  font-size: 20px;
  display: flex;
  gap: 40px;
  color: grey;
}
